body .btn,
body .btn-primary,
.body .btn-primary:not(:disabled):not(.disabled):active, 
body .btn-primary:not(:disabled):not(.disabled).active, 
body .show > .btn-primary.dropdown-toggle,
.btn {
    padding: 12px 25px;
    border: none;
    /* background: #ff2294;
    background: linear-gradient(45deg,#ff2294 0,#df47d2 100%);
    box-shadow: 0 5px 20px 0 rgba(220,90,165,.3); */
    color: var(--font-color-lighter);
    border-radius: 25px;
    text-transform: uppercase;
}

body .btn:hover,
.btn:hover,
.btn.btn:hover {
    border: none;
    color: var(--font-color-lighter);
}

.btn {
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font: inherit;
  vertical-align: middle;
  margin: 0 1%;
}

body .btn-check:checked+.btn, 
body .btn.active, .btn.show, 
body .btn:first-child:active, 
body :not(.btn-check)+.btn:active,
body .btn:focus, 
body .btn:focus-visible,
body .btn:active {
  outline: none;
  color:#fff;
}

body .btn-round {
    border-radius: 50px;
    font-size: var(--font-size-14);
    font-family: var(--main-font-family);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    color: var(--font-color-lighter);
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
}

body .btn-s {
    height: 26px;
}

body .btn-m {
    height: 40px;
}

body .btn-l {
    height: 50px;
}

/* Action buttons  */

body .btn:disabled,
body .btn.save:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.5);
}

body .btn:disabled svg,
body .btn.save:disabled svg {
  color: #ccc;
}


body .btn svg {
  color: inherit;
  font-size: 1.25rem;
  margin: 10px;
}

body .btn.save, 
#action-save{
  background-color: var(--additional-color-1);
}

body .btn.cancel, 
#action-cancel {
  background-color:  var(--font-color-active);
}

body .btn.close {
  background-color: transparent;
  padding: 5px 10px;
  height: auto;
}

body .btn.close svg {
  color: black;
}

.before {
  margin-right: 10px;
}
.after {
  margin-left: 10px;
}

.btn svg {
  margin: 0;
}

.btn:hover {
  opacity: 1;
}

body .delete-btn svg,
body .edit-btn svg,
body .info-btn svg,
body .close svg{
  width: 22px;
  height: 22px;
  line-height: 30px;
  padding: 0;
  margin:0;
}

body .info-btn,
body .btn-white  {
  	background: var(--font-color-lighter);
    color: #5b0063;
    transition: background-color .2s linear,color .1s linear;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
}

body .info-btn:hover{
	background: var(--font-color-lighter);
	color: #ff51a8;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.3);
}

body .btn-white:hover {
	background-color: #ffebfb;
	color: #ff51a8;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.3);
	
}
 
body .btn-primary,
body .btn-primary:not(:disabled):not(.disabled):active,  
body .btn-primary:not(:disabled):not(.disabled).active,  
body .show > .btn-primary.dropdown-toggle,
body .delete-btn,
.btn-pink-gradient  {
  	background: #ff2294;
    background: linear-gradient(45deg,#ff2294 0,#df47d2 100%);
    box-shadow: 0 5px 20px 0 rgba(220,90,165,.3);
}

body .btn-primary:not(:disabled):not(.disabled):active:focus, 
body .btn-primary:not(:disabled):not(.disabled).active:focus, 
body .show > .btn-primary.dropdown-toggle:focus,
body .delete-btn:hover,
.btn-pink-gradient:hover  {
  box-shadow: 0 5px 20px 0 rgba(220,90,165,.6);
}

/* green */
body .edit-btn,
body .btn-add,
.btn-green-gradient  {
    background: #06ce52;
    background: linear-gradient(45deg,#06ce52 0,#00d0a6 100%);
    box-shadow: 0 5px 20px 0 rgba(0,255,90,.3);
}

body .edit-btn:hover,
body .btn-add:hover,
.btn-green-gradient:hover  {
  box-shadow: 0 5px 20px 0 rgba(0,255,90,.6);
}