.maps-default-background{
	display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(src/assets/images/maps-default-bg.webp) repeat scroll;
    filter: brightness(0.88);
	z-index: -1;
}

.left-bg-elements, 
.right-bg-elements {
    position: absolute;
    width: 100%;
    max-width: 556px;
    height: 100%;
    transform: translateX(-768px);
}

body .left-bg-elements span, 
body .right-bg-elements span{
	position: absolute;
}

.tea {
    right: 50px;
    width: 360px;
    height: 300px;
    background: url(src/assets//images/tea.webp) no-repeat;
    background-position: right top;
    animation: tea-anim 1500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.chamomile {
    right: 195px;
    width: 86px;
    height: 84px;
    background: url(src/assets/images/chamomile.webp) no-repeat;
    animation: chamomile-entry 1500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both, chamomile-anim 30s infinite linear;
}

.flower-wrapper {
    width: 570px;
    height: 790px;
    right: 0;
    z-index: 50;
    animation: flowers-left 1500ms 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.camera {
    width: 400px;
    height: 300px;
    right: 40px;
    background: url(src/assets/images/camera.webp) no-repeat;
    z-index: 10;
    animation: camera 1500ms 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.stems {
    width: 100%;
    height: 100%;
    background: url(src/assets/images/flowers-bottom-left.webp) no-repeat;
}

.right-bg-elements {
    transform: translateX(768px);
}

.flower-wrapper.right {
    left: 140px;
    transform: scaleX(-1) scaleY(-1);
    animation: flowers-right 1500ms 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.flower-wrapper.left{
	bottom: 140px;
}
.stems {
    width: 100%;
    height: 100%;
    background: url(src/assets/images/flowers-bottom-left.webp) no-repeat;
}

.blossom {
    width: 500px;
    height: 500px;
    left: 55px;
    top: 25px;
    background: url(src/assets/images/blossoms-90.webp) no-repeat;
}

.candle {
    width: 190px;
    height: 190px;
    left: 40px;
    background: url(src/assets/images/candle.webp) no-repeat;
    animation: candle-entry 1500ms 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.flame {
	width: 70px;
    height: 80px;
    top: 433px;
    left: 120px;
    background: url(src/assets/images/flame.webp) no-repeat;
    animation: candle-flame-entry 1500ms 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.notebook {
	width: 460px;
    height: 520px;
    left: 0;
    background: url(src/assets/images/notebook.webp) no-repeat;
    z-index: 1;
    animation: notebook-entry 1500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes chamomile-anim {
    0% {
        transform: rotate(0) translate(0, 0);
    }
    33% {
        transform: rotate(120deg) translate(20px, -20px);
    }
    66% {
        transform: rotate(240deg) translate(40px, 0px);
    }
    100% {
        transform: rotate(360deg) translate(0, 0);
    }
}


@keyframes tea-anim {
    0% {
        top: -600pxn;
        opacity: .0;
    }
    100% {
        top: 20px;
        opacity: 1;
    }
}

@keyframes chamomile-entry {
    0% {
        top: -600pxn;
        opacity: .0;
    }
    100% {
        top: 126px;
        opacity: 1;
    }
}

@keyframes flowers-left {
    0% {
        top: 900pxn;
        opacity: .0;
    }
    100% {
        top: 365px;
        opacity: 1;
    }
}

@keyframes camera {
    0% {
        top: 1300pxn;
        opacity: .0;
    }
    100% {
        top: 855px;
        opacity: 1;
    }
}

@keyframes flowers-right {
    0% {
        top: -600pxn;
        opacity: .0;
    }
    100% {
        top: -300px;
        opacity: 1;
    }
}

@keyframes candle-entry {
    0% {
        top: -450pxn;
        opacity: .0;
    }
    100% {
        top: 400px;
        opacity: 1;
    }
}

@keyframes candle-flame-entry {
    0% {
        top: -450pxn;
        opacity: .0;
    }
    100% {
        top: 433px;
        opacity: 1;
    }
}

@keyframes notebook-entry {
    0% {
        top: 1500pxn;
        opacity: .0;
    }
    100% {
        top: 600px;
        opacity: 1;
    }
}
