/* post grid */

.single-post-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: 1px solid rgb(0, 0, 0,.17);
    border-radius: 20px;
}

.single-post-grid-body {
	text-align: center;
	padding: 10px;
}

.single-post-grid .single-post-grid-title {
	color: var(--primary-color-2);
	text-align: center;
}

.single-post-grid img {
	width: 100%;
}

.post-list .single-post-grid {
	flex: 1 0 calc(24% - 1%);
    order: 4;
    max-width: 23%;
	overflow: hidden;
}

.post-list .single-post-grid:hover {
	flex: 1 0 calc(24% - 1%);
    order: 4;
    max-width: 23%;
	box-shadow: 0 1px 11px 0 var(--bg-ds2);
	transition: all .4s ease-in-out;
}

.post-list .single-post-grid-image{
	height: 200px;
    overflow: hidden;
	text-align: center;
}

section.single-post .single-post-grid-image{
	max-height: 333px;
    width: 400px;
	overflow: hidden;
    
}
/* end post grid */
/* post list */
.single-post-list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: 1px solid rgb(0, 0, 0,.17);
    border-radius: 20px;
	margin: 50px auto 70px;
}

.single-post-list-body {
	padding: 15px 20px 20px;
	text-align: left;
}

.single-post-list .single-post-list-title {
	color: var(--primary-color-2);
}

.single-post-list .single-post-list-text {
	font-style: italic;
}

.single-post-list img {
	width: 100%;
}

.post-list .single-post-list {
	flex: 1 0 calc(24% - 1%);
    order: 4;
    max-width: 23%;
	overflow: hidden;
}

.post-list .single-post-list:hover {
	flex: 1 0 calc(24% - 1%);
    order: 4;
    max-width: 23%;
	box-shadow: 0 1px 11px 0 var(--bg-ds2);
	transition: all .4s ease-in-out;
}

.post-list .single-post-list-image{
    overflow: hidden;
	text-align: center;
}

.single-post-list-image{
	width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
	margin: -50px 20px 0 50px;
	display: inline-block;
    vertical-align: middle;
}

/* end post list */
.single-post-heading{
	text-align: center;
}

.single-post-heading h1{
	color: var(--additional-color-6);
}

.post-list .single-post-grid:hover img{
	transform: scale(1.1);
	transition: all .4s ease-in-out;
}

.post-list .single-post-grid ul {
	padding: 0;
}

.wrapper .single-post{
	margin-bottom: 3%;
}

.single-post .title{
	color: var(--primary-color-2);
	text-align: left;
}

.single-post .post-category{
	color: var(--primary-color-3);
	text-transform: capitalize;
	font-style: italic;
}

.single-post .post-category>span{
	color: rgba(193, 180, 221,1);
	font-style: italic;
}
.single-post .single-post-heading .post-user-creator {
	padding: 1px 6px;
    border-radius: 3px;
    font-size: .9em;
    background: var(--primary-color-3);
    margin: 0 0 0 15px;
    text-transform: uppercase;
    color: #fff;
}

.single-post-comments{
	background: var(--input-style-1-bg);
	padding: 3% 0;
}

.details-comments ul{
	padding: 0;
}

.details-comments li p{
	padding: 3%;
	display: inline-block;
	margin-bottom: 20px;
    border-radius: 15px;
    background: var(--thumb-bg1);
}

.create-comment form {
	text-align: center;
    padding: 3%;
    margin-bottom: 20px;
    border-radius: 10px;
    background: var(--thumb-bg1);
}

.create-comment form textarea,
.create-comment form text,
.create-comment form input{
	background: var(--bg-ls1);
	margin-bottom: 1%;
	border:1px solid rgba(193, 180, 221,1);
}

.details-comments .username{
	padding: 1px 6px;
    border-radius: 3px;
	font-size: .9em;
    background: var(--primary-color-3);
	margin: 0 0 0 5px;
	text-transform: uppercase;
	color: #fff;
}

.details-comments .user-img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid var(--primary-color-3);
	background: #fff;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	
}

.details-comments .user-img img{
	display: block;
	width: 100%;
}

.details-comments .user-bio{
	margin: 0 0 -15px;
	position: relative;
}
