/* Search Bar  */
.form-search-wrapper {
	padding: 20px;
	border-radius: 20px 20px 0 0;
	color: #9960ab;
	background: linear-gradient(to bottom,#290535 0,#432553 100%);
}

.search-form {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.search-form h2{
	margin: 0;
}

.search-form h2 svg {
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #9960ab;
	display: inline-block;
	vertical-align: middle;
}

.search-form h2>span {
	margin-left: 10px;
	display: inline-block;
	line-height: 1.1em;
}

body .input-container,
body .search-input-container {
	display: flex;
	justify-content: center;
	position: relative;
}

/* .search-form input,
  .search-form select {
    background: transparent;
    outline: none;
    color: white;
    border: 1px solid #5f6063;
  } 

  .search-form select {
    border: none;
    border-bottom: 1px solid #5f6063;
  }
  
  .search-form input {
    background: white;
    border-right: none;
    width: 100%;
    padding: 0px 10px;
    color: black;
  }*/

.search-form select option {
	color: black;
}

.search-form select:hover,
.search-form select:focus {
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

/* .search-form input:hover,
  .search-form input:focus {
    border: 1px solid #ccc;
    border-right: none;
  }
  .search-form input:hover + button,
  .search-form input:focus + button {
    border: 1px solid #ccc;
    border-left: none;
  } */

.search-form .icon {
	color: white;
	position: relative;
}

/* .search-form .btn {
    background: transparent;
    border: 1px solid #5f6063;
    border-left: none;
    border-radius: 0px;
    color: white;
    padding: 0.5rem;
    height: auto;
  } */
/*   
  .search-form .close-btn {
    background-color: #943232;
  } */

.filter {
	display: flex;
	align-items: center;
}


.criteria {
	margin-right: 20px;
}

@media (max-width: 768px) {
	.search-form {
		flex-direction: column;
		height: 6rem;
	}

	.search-form h2 {
		display: none;
	}

	.search-input-container {
		width: 100%;
	}

	.filter {
		justify-content: center;
	}
}